* {
    text-align: center;
}

body {
    background-image: url('http://subtlepatterns.com/patterns/ep_naturalwhite.png');
    background-repeat: repeat;
}

h1 {
    font-family: 'Rubik Mono One', sans-serif;
    letter-spacing: 2px;
    font-size: 3em;
}

#maker {
    font-family: 'Yantramanav', sans-serif;
    font-weight: lighter;
}

h3 {
    font-family: 'Rubik Mono One', sans-serif;
}
