* {
    text-align: center;
}

body {
    background-image: url('http://subtlepatterns.com/patterns/ep_naturalwhite.png');
    background-repeat: repeat;
}

h1 {
    font-family: 'Rubik Mono One', sans-serif;
    letter-spacing: 2px;
    font-size: 3em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.maker {
    font-family: 'Yantramanav', sans-serif;
    font-weight: lighter;
}

h3 {
    font-family: 'Rubik Mono One', sans-serif;
    margin-bottom: 8px;
    margin-top: 8px;
}

button {
    font-family: 'Yantramanav', sans-serif;
    background-color: #3ac9b4;
    border: none;
    color: black;
    height: 24px;
    position: absolute
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    padding: 5px;
    border-radius: 3px;
}

.canvas {
  width: 68em;
  text-align: center;
  margin: auto;
}

.paintBrush {
  cursor: url('https://images.vexels.com/media/users/3/131677/isolated/lists/5517f3c8facf7ff407aaa7752c00e8a5-paintbrush-tool.png'), auto
}
